* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
}

/* container */
.container {
  width: 100%;
  margin: auto;
  padding: 0;
}
/* left */
.left {
  width: 25%;
  float: left;
  background: #0080ff;
  min-height: 100vh;
  position: fixed;
}
/* right */
.right {
  width: 75%;
  float: right;
  background: #fffbfc;
}
/* sidebar */
.sidebar {
  color: #fff;
  padding: 30px 10px;
}
.title {
  text-align: center;
}
ul {
  list-style-type: none;
}
li {
  padding: 10px 15px;
  border-bottom: 1px solid #fff;
}
.sidebar-head-txt {
  font-size: 20px;
  color: #c0c0c0;
}
.sidebar-head-txt-sub {
  font-size: 15px;
  padding: 10px 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #000;
  transition: 0.15s;
}
.btn {
  background: #0080ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.btn:hover {
  background: #5b5bff;
  color: #eaf4ff;
  transition: 0.15s;
}
/* success div */
.success {
  color: green;
  text-align: start;
  padding: 15px 0 0 15px;
}
/* nav */
nav {
  background: #fff;
  padding: 10px;
  width: 100%;
  height: 70px;
  /* display: flex;
  justify-content: space-between; */
}
.profile {
  float: right;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
nav img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile span {
  color: #000;
  align-items: center;
  padding: 20px 10px;
}
#dropdown-menu {
  display: none; /*hide the menu by default */
  position: absolute;
  top: 70px;
  right: 0;
  background: #fff;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  z-index: 1;
}
#dropdown-menu a {
  color: #121212;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.dropdown-menu a:hover {
  background: #0080ff;
  color: #fff;
  transition: 0.15s;
}

#dropdown-toggle:hover #dropdown-menu,
#dropdown-toggle:focus #dropdown-menu {
  display: block; /* show the menu when the toggle is hovered or in focus */
}
.show {
  display: block !important;
  transition: 0.15s;
}

#dashboard,
#patients,
#appointments,
#prescriptions,
#drugs,
#tests,
#billing,
#reports,
#settings {
  min-height: 100vh;
}
.page-head {
  padding: 20px;
}
.main {
  width: 100%;
}
.dash-top {
  background: #f4faff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.card {
  width: 22%;
  height: 100px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-left: 5px solid #0080ff;
  border-radius: 10px 5px 5px 10px;
  padding: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #e6e6e6;
}
table tr td {
  padding: 10px;
}
table tr td:first-child {
  color: #0080ff;
}
table tr td:last-child {
  color: #000;
}
table tr td:last-child a {
  color: #0080ff;
}
table tr td:last-child a:hover {
  color: #000;
}
table tr td:last-child a:active {
  color: #000;
}
table tr td:last-child a:visited {
  color: #000;
}
.dash-b-head {
  display: flex;
  justify-content: space-between;
}
.main form {
  width: 70%;
  margin: auto;
  padding: 20px 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 5px #e6e6e6;
  margin-top: 20px;
}
.form-group {
  margin: 20px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.hidden {
  visibility: hidden;
}
.btn_link {
  background: #0080ff;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px 20px;
  text-decoration: none;
}
.btn_link:hover {
  background: #fff;
  color: #eaf4ff;
  transition: 0.15s;
}
